﻿body {
    background-color: #97908e;
}

li, a {
    color: antiquewhite;
    text-decoration: none;
}

h1 {
    color: antiquewhite;
    text-align:center;
}

img {
    width : 100px;
    height : 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #372c2a;
}

table {
    background-color: #71615c;
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;

}

th {
    cursor: pointer;
    width: auto;
    border-collapse: collapse;
    border: 3px solid #372c2a;
    text-align: center;
}

td{
    vertical-align:central;
}



.nav_links {
    list-style: none;
    margin: 0;
    background-color: #372c2a;
}

    .nav_links li {
        display: inline-block;
        padding: 0 20px;
        background-color: #372c2a;
    }

        .nav_links li a {
            transition: all 0.3s ease 0s;
            background-color: #372c2a;
        }

            .nav_links li a:hover {
                color: #71615c;
                text-decoration: none;
            }

body {
    background-color: #97908e;
}

li, a {
    color: antiquewhite;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #372c2a;
}

.nav_links {
    list-style: none;
    margin: 0;
    background-color: #372c2a;
}

    .nav_links li {
        display: inline-block;
        padding: 0 20px;
        background-color: #372c2a;
    }

        .nav_links li a {
            transition: all 0.3s ease 0s;
            background-color: #372c2a;
        }

            .nav_links li a:hover {
                color: #71615c;
                text-decoration: none;
            }

.container table {
    border-collapse: separate;
    border-spacing: 20px 5px;
}

.container {
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.login-form {
    margin: 5px 0px 5px 0px;
}

    .login-form table {
        background-color: #97908e;
    }

#registation-table {
    margin: 5px 0px 5px 0px;
        background-color: #97908e;
}

div{
    display : flex;
}

button {
    align-items: center;
    background-color: #584845;
    border-radius: 200px;
    border-width: 0;
    color: #FFFFFF;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin : 5px 5px 5px 5px;
}

.hidden {
    display: none;
}

.active {
    display: flex;
    margin: auto;
    color: antiquewhite;
}

.black {
    color: black;
}


#users-table {
    border: 2px;
    background-color: #71615c;
    width: 80%;
    table-layout: fixed;
    text-align: center;
}

    #users-table th {
        cursor: pointer;
        table-layout: fixed;
        width: 80%;
        border-collapse: collapse;
        border: 3px solid #372c2a;
        text-align: center;
    }

#products-div {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

#products-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#search-table {
    width: 80%;
    background-color: #71615c;
    border-collapse: collapse;
    border: 3px solid #372c2a;
    text-align: center;
}

    #search-table th {
        background-color: #584845;
        color: antiquewhite;
        padding: 10px;
        text-align:center;
    }

    #search-table td {
        padding: 10px;
        background-color: #97908e;
    }

#search-button {
    background-color: #97908e
}

#search-min-price, #search-max-price {
    width: 70px;
    color: black;
}

#search-name, #search-city {
    color: black;
    width: 150px;
}
#profile-section{
    display : flex;
    justify-content: center;
    align-content:center;
}

#profile-section table {
    background-color: #97908e;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }



input{
    color:black;
}

select {
    color: black;
}

.customer-section {
    display: contents;
    justify-content: center;
    color: antiquewhite;
    flex-direction: column;
}

#admin-section, #seller-section, .customer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    justify-content: center;
    text-align: center;
}

    #admin-section > * {
        margin-bottom: 20px;
    }





#orders-section, #fav-products-section {
    display: flex;
    justify-content: center;
    align-content: center;
}
#toggle-profile, #toggle-orders, #toggle-products{
    width :100%;
}

#orders-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviews-section {
    display: flex;
    justify-content: center;
    align-items: center;
}




#admin-review-table {
    border: 2px;
    background-color: #71615c;
    width: 80%;
    table-layout: fixed;
    text-align: center;
}

#admin-review-table th {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid #372c2a;
    text-align: center;
}

#modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#admin-user-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.profile-form {
    background-color: #97908e;
    width: 100%;
}

    .profile-form table {
        width: 100%;
    }

    .profile-form td {
        padding: 10px;
    }

    .profile-form h1 {
        margin-bottom: 20px;
    }

    .profile-form input,
    .profile-form select {
        width: 70%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

#seller-products-div, #admin-products-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    
}